div.contenedor-formulario {
    background-color: #d1ccc1;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    width: 50%;
    position: relative;
    left: 0;
    position: relative;
}


input[type=text],
input[type=email],
textarea,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #070707;
    border-radius: 8px;
    box-sizing: border-box;
}

textarea:focus, input:focus {
    background-color: #ff847c;
}


input[type=submit] {  
    width: 100%;
    background-color: #55e65f;
    padding: 15px 20px;   
    margin: 8px 0;
    font-size: large;
    font-weight: bold;
    border: 1px solid #0a8e05;
    border-radius: 8px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #9af09a;
}


.contenedor-radio-motivo {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}


@media screen and (max-width: 768px) {
    div.contenedor-formulario {
        width: 70%;
    }
    input[type=text],
    input[type=email],
    textarea,
    select {
        padding: 10px 16px; 
        font-size: 1rem; 
    }
    input[type=submit] {
        padding: 12px 16px; 
        font-size: 1rem;
    }
}

@media screen and (max-width: 550px) {
    div.contenedor-formulario {
        width: 90%;
    }
    input[type=text],
    input[type=email],
    textarea,
    select {
        padding: 8px 12px;
        font-size: 0.9rem;
    }
    input[type=submit] {
        padding: 10px 14px;
        font-size: 0.9rem;
    }
    .contenedor-radio-motivo {
        margin-top: 15px;
    }
}
